---
import type { Page } from "astro";
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"a"> {
  page: Page;
  pageNumber: number;
}
const { page, pageNumber } = Astro.props;

const isCurrent = pageNumber === page.currentPage;
---

<a
  href={`/event/${pageNumber}`}
  class:list={["navNumber", isCurrent && "isCurrent"]}
  aria-current={isCurrent ? "page" : undefined}
>
  {pageNumber}
  <span class="sr-only">ページ</span>
</a>
