---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CRAZY CAREER SAMPLE SITE">
  <div class="splashCopy">
    <figure>
      <img
        src="/assets/img/parts/splashCopy.svg"
        alt=""
        width="610"
        height="226"
      />
    </figure>
  </div>
  <header>
    <figure>
      <img src="/assets/img/parts/header.svg" alt="" width="1868" height="76" />
    </figure>
  </header>
  <div class="bg">
    <figure class="noise">
      <img
        src="/assets/img/parts/noise.png"
        alt=""
        width="1920"
        height="1080"
      />
    </figure>
    <div class="filterLayer"></div>
    <figure class="symbol">
      <div class="symbolWrap01 symbolWrap">
        <img
          class="symobolImg01"
          src="/assets/img/parts/KeyGraphic.svg"
          alt=""
          width="2008"
          height="2581"
        />
      </div>
      <div class="symbolWrap02 symbolWrap">
        <img
          class="symobolImg02"
          src="/assets/img/parts/KeyGraphic.svg"
          alt=""
          width="2008"
          height="2581"
        />
      </div>
    </figure>
  </div>
  <div class="gNav">
    <img src="/assets/img/parts/navi.svg" alt="" width="594" height="49" />
  </div>
  <section class="sectionKv">
    <div class="textBlock stKv">
      <div class="leadCopy jsKvCopy01">
        <p class="st-kvcopy01">Craft Your Life</p>
      </div>
      <div class="leadCopy jsKvCopy02">
        <p class="st-kvcopy02">Master Your Career</p>
      </div>
    </div>
  </section>
  <section class="sectionIntro">
    <figure>
      <img src="/assets/img/parts/about.svg" width="1692" height="862" />
    </figure>
  </section>
  <section class="sectionPick">
    <div class="container">
      <div class="textBlock">
        <p class="bigType">Pickup</p>
        <h2>企業紹介</h2>
        <p class="body">
          私たちがお勧めする企業。<br /><span
            >求人情報は変動がありますので、気になる方はお知らせください。</span>
        </p>
      </div>
      <div class="imgBlock">
        <figure>
          <img src="/assets/img/parts/pickup.png" width="2592" height="3744" />
        </figure>
      </div>
    </div>
  </section>
  <section class="sectionVoice">
    <div class="container">
      <div class="textBlock">
        <h2>求人企業の社員の声</h2>
        <p class="body">且つ人生を歩む人が多い企業を厳選して紹介しています。</p>
      </div>
      <ul>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo01">
              <img
                src="/assets/img/parts/logo01.png"
                width="640"
                height="596"
              />
            </figure>
          </div>
        </li>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo02">
              <img
                src="/assets/img/parts/logo01.jpg"
                width="640"
                height="522"
              />
            </figure>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo03">
              <img
                src="/assets/img/parts/logo01.png"
                width="640"
                height="596"
              />
            </figure>
          </div>
        </li>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo04">
              <img
                src="/assets/img/parts/logo01.jpg"
                width="640"
                height="522"
              />
            </figure>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo05">
              <img
                src="/assets/img/parts/logo01.png"
                width="640"
                height="596"
              />
            </figure>
          </div>
        </li>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo06">
              <img
                src="/assets/img/parts/logo01.jpg"
                width="640"
                height="522"
              />
            </figure>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo07">
              <img
                src="/assets/img/parts/logo01.png"
                width="640"
                height="596"
              />
            </figure>
          </div>
        </li>
        <li>
          <figure>
            <img src="/assets/img/parts/profile.png" width="234" height="234" />
          </figure>
          <div class="rightBox">
            <figure>
              <img
                src="/assets/img/parts/profileText.svg"
                width="383"
                height="117"
              />
            </figure>
            <figure class="corpLogo corpLogo08">
              <img
                src="/assets/img/parts/logo01.jpg"
                width="640"
                height="522"
              />
            </figure>
          </div>
        </li>
      </ul>
      <figure class="sprit">
        <img src="/assets/img/parts/voice.svg" width="1692" height="862" />
      </figure>
    </div>
  </section>
  <section class="sectionMag">
    <div class="container">
      <div class="textBlock">
        <p class="bigType">Magazine</p>
        <h2>CRAZY CAREER Magazine</h2>
        <p class="body">且つ人生を歩む人たちをご紹介。</p>
      </div>
      <div class="scrollHeight horizonTrigger"></div>
    </div>
  </section>
  <figure class="horizon">
    <img src="/assets/img/parts/Interview.png" width="4234" height="920" />
  </figure>
  <section class="sectionContact">
    <figure>
      <img src="/assets/img/parts/contact.svg" width="1802" height="808" />
    </figure>
  </section>
  <section class="sectionNews">
    <figure>
      <img src="/assets/img/parts/news.svg" width="1789" height="854" />
    </figure>
  </section>
  <section class="sectionEvent">
    <figure>
      <img src="/assets/img/parts/event.png" width="1822" height="1846" />
    </figure>
  </section>
  <section class="sectionFooter">
    <figure>
      <img src="/assets/img/parts/footer.svg" width="1920" height="1080" />
    </figure>
  </section>
  <figure class="floatBtn">
    <img src="/assets/img/parts/floatBtn.svg" width="1920" height="1080" />
  </figure>
</Layout>

<script type="module" src="/assets/js/update.js"></script>
