---
import type { GetStaticPaths, Page } from "astro";
import type { News } from "src/types/microcms/news";

import UnderPageLayout from "@layouts/UnderPageLayout.astro";
import { client } from "@libs/microcms";
import { Picture } from "@astrojs/image/components";
import FormattedDate from "@components/FormattedDate.svelte";
import Pagination from "@components/Pagination/NewsPagination.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const { totalCount } = await client.getList<News>({
    endpoint: "news",
    queries: { limit: 0 },
  });

  return paginate(
    Array.from({ length: totalCount }).map(() => ({})),
    { pageSize: 2 }
  );
};
export interface Props {
  page: Page;
}
const { page } = Astro.props;

const { contents: news } = await client.getList<News>({
  endpoint: "news",
  queries: {
    limit: 2,
    offset: page.start,
    fields: "id,title,thumbnail,createdAt,publishedAt",
  },
});
---

<UnderPageLayout
  mainLabel="NEWS"
  subLabel="お知らせ"
  title="お知らせ"
  noindex={page.currentPage !== 1}
>
  <ul class="postList">
    {
      news.map(({ id, title, thumbnail, createdAt, publishedAt }) => (
        <li>
          <a href={`/news/${id}`} class="flex">
            <div class="">
              <Picture
                src={thumbnail.url}
                widths={[320, 640, 960]}
                aspectRatio={1}
                width={320}
                height={320}
                sizes="20rem"
                alt=""
              />
            </div>
            <div class="">
              <h2 class="">{title}</h2>
              <FormattedDate class="" date={publishedAt ?? createdAt} />
            </div>
          </a>
        </li>
      ))
    }
  </ul>

  <Pagination class="" page={page} />
</UnderPageLayout>
