---
import { Picture } from "@astrojs/image/components";
import "../../public/assets/css/underPage.scss";
import Layout from "./Layout.astro";

export interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;

  mainLabel: string;
  subLabel: string;
}

const { mainLabel, subLabel, ...props } = Astro.props;
---

<Layout {...props}>
  <div class="headArea">
    <h1 class="">
      <span class="en">{mainLabel}</span><br />
      <span class="jp">{subLabel}</span>
    </h1>
  </div>
  <div class="bodyArea">
    <slot />
  </div>
</Layout>
