---
import { Picture } from "@astrojs/image/components";

import Layout from "./Layout.astro";

export interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;

  mainLabel: string;
  subLabel: string;
}

const { mainLabel, subLabel, ...props } = Astro.props;
---

<Layout {...props}>
  <div class="">
    <div class="">
      <h1 class="">
        <span class="">{mainLabel}</span>
        <span class="">{subLabel}</span>
      </h1>
    </div>
  </div>
  <div class="container py-16 sm:py-24 lg:py-32">
    <slot />
  </div>
</Layout>
